@import url(
'https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap'
);

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:
linear-gradient(
135deg,
#f8ede3,
#dfd3c3,
#d0b8a8
);

min-height:100vh;

overflow-x:hidden;
}

/* LOGIN PAGE */

.hero{

height:100vh;

width:100%;

display:flex;

justify-content:center;

align-items:center;

position:relative;

overflow:hidden;
}

/* FLOATING ICONS */

.hero::before{

content:"📚";

position:absolute;

font-size:85px;

left:8%;

top:10%;

animation:
float 4s infinite;
}

.hero::after{

content:"📈";

position:absolute;

font-size:85px;

right:10%;

bottom:15%;

animation:
float 5s infinite;
}

/* LOGIN CARD */

.box{

position:relative;

background:
rgba(
255,
255,
255,
0.85
);

backdrop-filter:
blur(10px);

padding:40px;

width:370px;

border-radius:25px;

text-align:center;

box-shadow:

0 15px 35px

rgba(
0,
0,
0,
0.15
);
}

/* EXTRA ICONS */

.box::before{

content:"✏️";

position:absolute;

left:-60px;

top:-30px;

font-size:55px;

animation:
rotateIcon 5s infinite;
}

.box::after{

content:"📖";

position:absolute;

right:-60px;

bottom:-30px;

font-size:55px;

animation:
rotateIcon 4s infinite;
}

.box h1{

font-size:45px;

color:#5c4033;

margin-bottom:10px;
}

.box p{

color:#7a6a5f;

margin-bottom:20px;
}

input{

width:100%;

padding:14px;

margin:12px 0;

border:none;

outline:none;

border-radius:12px;

background:#f7f2eb;
}

button{

width:100%;

padding:14px;

margin-top:10px;

border:none;

border-radius:12px;

background:#b87333;

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;
}

button:hover{

background:#5c4033
}
nav{

background:
rgba(
255,
255,
255,
0.7
);

backdrop-filter:
blur(8px);

padding:18px 40px;

display:flex;

justify-content:
space-between;

align-items:center;

position:sticky;

top:0;

z-index:100;
}

nav h2{

color:#5c4033;
}

ul{

display:flex;

gap:25px;

list-style:none;

align-items:center;
}

a{

text-decoration:none;

color:#b87333;

font-weight:600;

transition:.3s;
}

a:hover{

color:#b87333;
}